* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font: 16px/24px 'Arvo', serif;
	background: #eee;
}

body {
	overflow-x: hidden;
}

figure img,
figure video {
	width: 100%;
}

li {
	margin: 0.5em 0;
}

.publication-title {
	font-style: italic;
}

/* Header */

.fancy #website {
	height: 100vh;
	overflow: hidden;
	overflow-y: auto;
	perspective: 1px;
	perspective-origin: 50% 0;
}

.fancy #header {
	position: relative;
	width: 100%;
	padding-top: 70%;
	transform-style: preserve-3d;
	transition: transform ease-in-out 500ms, padding-top ease-in-out 500ms;
}

#content {
	position: absolute;
	left: 0;
	right: 0;
	top: 35vw;
	transform-style: preserve-3d;
}

#header > * {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#header-clouds {
	background: hsl(210, 60%, 35%);
	bottom: 0;
}

.fancy #header-clouds {
	transform: translate3d(0, 0, -2px) scale(3);
	bottom: auto;
}

#header-clouds video {
	width: 100%;
	height: auto;
	display: none;
}

.fancy #header-clouds video {
	display: block;
}

#header-name {
	top: 25vw;
	width: 80%;
	margin: 0 auto;
	/*mix-blend-mode: exclusion;*/
}

.fancy #header-name {
	top: 0;
	width: auto;
	/*filter: brightness(calc(1.0 - var(--scroll-pos) * 100.0));*/
	transform: translate3d(0, 0, -1.25px) scale(2) translateY(200%);
}

.fancy #header-hill {
	transform: translateZ(-1.5px) scale(2.5) translateY(8.75%);
}

.fancy #header-jelmer {
	transform: translateZ(-0.75px) scale(1.75);
}

.fancy #header::after {
	content: '';
	display: block;
	position: absolute;
	height: 50vh;
	width: 100%;
	background: #eee;
	transform: translate3d(0, 0, -0.75px) scale(1.75) translateY(43%);
}

.preserve3d.how-does-it-work #website {
	perspective: 1.0px;
}

.preserve3d.how-does-it-work #header {
	transform: translate3d(25%, 50%, -0.75px) rotate3d(0, 1, 0, 0.02deg);
	padding-top: 100%;
}

.preserve3d.how-does-it-work #header > * {
	border: 1px solid black;
}

.preserve3d.how-does-it-work #header::after {
	display: none;
}

.preserve3d.how-does-it-work #header > svg > defs > mask > image {
	opacity: 0.5;
}

.rainbows #header-clouds {
	height: 100%;
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
	animation: rainbow 18s ease infinite;
}

.rainbows #header-clouds video {
	display: none;
}

@keyframes rainbow { 
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}

/* Content */

#content > footer {
	text-align: center;
	font-size: 0.8em;
	color: #999;
}

#content > footer a {
	color: inherit;
}

#content > section {
	max-width: 900px;
	margin: 50px auto;
}

.text-section {
	padding: 50px;
	background: white;
	box-shadow:  10px 10px 0 rgba(0, 0, 0, 0.2);
}

.text-section + .text-section {
	margin-top: 50px;
}

#content > section > h1 {
	color: white;
	text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
	font: 75px/1em 'Lato', sans-serif;
	font-variant: all-petite-caps;
	margin: 1em 0 0.5em 0;
}

#contact .text-section {
	text-align: center;
}

.carrousel {
	display: flex;
	position: relative;
}

.carrousel > section {
	box-sizing: border-box;
	max-width: 100%;
	background: white;
	box-shadow:  10px 10px 0 rgba(0, 0, 0, 0.2);
	flex: 0 0 100%;
	margin-right: 50px;
	padding: 50px;
	transition:
		transform ease-out 300ms,
		opacity ease-out 300ms,
		box-shadow ease-out 300ms;
	transform: translateX(calc(var(--current-index) * -100% + var(--current-index) * -50px));
}

.carrousel > section:not(.active) {
	opacity: 0.2;
	box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.0);
	pointer-events: none;
}

.carrousel .dots {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.carrousel .dots .dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	background: #777;
}

.carrousel .dots .dot.active {
	background: #000;
}

.carrousel .prev-slide-btn,
.carrousel .next-slide-btn {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 50px;
	width: 50px;
	margin: auto 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 10;
	border: 0;
	overflow: hidden;
	text-indent: 50px;
	cursor: pointer;
}

.carrousel .prev-slide-btn::before,
.carrousel .next-slide-btn::before {
	position: absolute;
    top: 15px;
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    box-sizing: border-box;
    width: 0;
    height: 0;
}

.carrousel .prev-slide-btn {
	left: -65px;
}

.carrousel .next-slide-btn {
	right: -65px;
}

.carrousel .prev-slide-btn::before {
	border-right: 15px solid white;
	left: 15px;
}

.carrousel .next-slide-btn::before {
	border-left: 15px solid white;
	right: 15px;
}

/* Projects */

.carrousel > section.project figure {
	width: 100%;
	max-width: 100%;
	margin: 0;
	line-height: 0;
}

@media (min-width: 600px) {
	.carrousel > section.project {
		padding: 50px 50px 50px 50%;
	}

	.carrousel > section.project figure {
		max-width: calc(100% - 50px);
		margin: 0 50px 0 -100%;
		float: left;
	}

	.carrousel > section.project > h1:nth-of-type(1) {
		margin-top: 0;
	}
}

.screenshot {
	border: 5px solid #eee;
	border-top: 25px solid #eee;
	border-radius: 4px;
	position: relative;
}

.screenshot::before {
	content: '···';
	position: absolute;
	top: -24px;
	left: 0;
	color: #999;
	font-size: 48px;
	line-height: 24px;
	letter-spacing: -5px;
}

.screenshot > figcaption {
    position: absolute;
    font-size: 10px;
    background: white;
    display: inline-block;
    top: -20px;
    left: 0;
    right: 0;
    text-align: center;
    background: white;
    line-height: 16px;
    margin: 0 80px;
    border-radius: 2px;
    color: #777;
    font-family: sans-serif;
}

.screenshot > figcaption a {
	color: inherit;
	text-decoration: none;
}

/* Panable screenshot */

.full-page-screenshot {
	position: relative;
	overflow: hidden;
	width: 100%;
	overflow: hidden;
	padding-top: 67.5%;
}

.full-page-screenshot > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	transform: translateY(calc((1.0 - var(--scroll-pos)) * -100%));
}

.screenshot .full-page-screenshot::after {
	content: '';
	position: absolute;
	top: 0;
	right: 1px;
	width: 4px;
	height: 10%;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	transform: translateY(calc((1.0 - var(--scroll-pos)) * 900%));
}

/* Slide show */

figure .carrousel {
	display: block;
}

figure .carrousel > img,
figure .carrousel > .full-page-screenshot {
	display: none;
}

figure .carrousel > .active {
	display: block;
}

figure .carrousel > .prev-slide-btn,
figure .carrousel > .next-slide-btn {
	width: 25px;
	height: 10px;
	top: auto;
	bottom: -24px;
	text-indent: 0;
	font: 6px/8px sans-serif;
	color: white;
	text-align: center;
	padding: 0;
	display: none;
}

figure .carrousel > .prev-slide-btn {
	left: 0;
}

figure .carrousel > .next-slide-btn {
	right: 0;
}

figure .carrousel > .prev-slide-btn::before,
figure .carrousel > .next-slide-btn::before {
	content: none;
}

figure .carrousel > .dots {
	bottom: -24px;
}